.vscode/**
.vscode-test/**
src/**
website/**
.github/**
.husky/**
.ace-tool/**
tsconfig.json
tsconfig.test.json
.eslintrc.json
.gitignore
deploy-website.sh
commitlint.config.js
.lintstagedrc.json
.prettierignore
**/*.map
**/*.ts
dist/test/**
node_modules/**
!node_modules/acorn/dist/**/*.js
!node_modules/acorn/dist/**/*.mjs
!node_modules/acorn/package.json
!node_modules/acorn/LICENSE
!node_modules/acorn-typescript/lib/**/*.js
!node_modules/acorn-typescript/lib/**/*.mjs
!node_modules/acorn-typescript/package.json
!node_modules/acorn-typescript/LICENSE
*.vsix
